
<div id="sidebar" class=" mdl-layout__container">
  <div class="blue-grey darken-5">
        <ul id="sidenav">
        <li class="sidenav-item"><i class="small material-icons">input</i><a href="#/login">Login</a></li>
        <li class="sidenav-item"><i class="small material-icons">power_settings_new</i><a href="#/login">Logout</a></li>
        <li class="sidenav-item"><i class="small material-icons">recent_actors</i><a href="#/community">Community</a></li>
        <li class="sidenav-item"><i class="small material-icons">search</i><a href="#/search">Search</a></li>
        <li class="sidenav-item"><i class="small material-icons">perm_identity</i><a href="#/profile">Profile</a></li>
        <li class="sidenav-item"><i class="small material-icons">view_list</i><a href="#/backlog">My Backlog</a></li>
        <li class="sidenav-item"><i class="small material-icons">done_all</i><a href="#/completed">Completed Games</a></li>
      </ul>
  </div>
</div>
