body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.col .l6 {
  border-style: red dashed 1px;
  height: 50px; }

#sidebar {
  display: inline-block;
  margin-top: -15px;
  margin-left: -11px;
  min-width: 100%;
  min-height: 100em; }
  #sidebar #sidenav {
    min-height: 100em; }
    #sidebar #sidenav li {
      padding-top: 5%;
      padding-left: 5%;
      line-height: 3em; }
      #sidebar #sidenav li a {
        text-decoration: none;
        color: orange;
        padding-left: 3%;
        font-size: 1.25em; }
      #sidebar #sidenav li i {
        margin-right: .25em; }

.sidenav-item:hover i, .sidenav-item:hover a {
  vertical-align: middle;
  color: white !important;
  font-size: 1.5em;
  line-height: 1.5em; }

#game-search-card-selected {
  background-color: yellow; }

#disclaimer {
  margin-top: 5%;
  font-style: italic;
  font-size: .85em; }

#profileContainer {
  margin: 10% auto; }

#profileImage img {
  margin: 0 30%;
  border-radius: 50%;
  box-shadow: 1px -6px 47px -4px;
  justify-content: center; }

.page-footer {
  margin-top: -3% !important; }
