body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

main {
  flex: 1 0 auto; }

.col .l6 {
  border-style: red dashed 1px;
  height: 50px; }

#sidebar {
  display: inline-block;
  margin-top: -15px;
  margin-left: -11px;
  min-width: 100%;
  min-height: 100em; }
  #sidebar #sidenav {
    min-height: 100em; }
    #sidebar #sidenav li {
      padding-top: 5%;
      padding-left: 5%;
      line-height: 3em; }
      #sidebar #sidenav li a {
        text-decoration: none;
        padding-left: 3%;
        font-size: 1.25em; }
      #sidebar #sidenav li i {
        margin-right: .25em; }

.sidenav-item:hover i, .sidenav-item:hover a {
  vertical-align: middle;
  color: white;
  font-size: 1.5em;
  line-height: 1.5em; }

#profileCotainer {
  margin: 0 auto; }
